html {
	position: relative;
	min-height: 100%;
}

body {
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/d6/6f/8b/d66f8bdfd0a785285398c233dcb97c13.jpg');
	color: #212121;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	margin-bottom: 64px;
}

.container {
	background-color: #DEDEDE;
	border-radius: 5px;
	margin: auto;
	margin-top: 3%;
	margin-bottom: 3%;
	padding: 10px;
	text-align: center;
}

#level_div {
	font-size: 1.7em;
	margin-top: -10px;
	margin-bottom: 15px;
}

#question_div {
	background-color: #917959;
	margin-top: 50px;
	font-family: 'Inconsolata', monospace;
	width: 50%;
	height: 150px;
	margin: auto;
}

@media (max-width: 767px) {
	.container {
		background-color: transparent;;
	}
	#question_div {
		width: 80%;
	}
}

.answers {
	border: 1px solid black;
	border-radius: 10px;
	height: 200px;
	margin-bottom: 40px;
	background-color: #218594;
	font-family: 'Inconsolata', monospace;
}

.answers:hover {
	opacity: 0.7;
}

#answers_div {
	margin: 0 2%;
	margin-top: 50px;
}

pre {
	text-align: left;
}
	
#next_question_btn #add_question_btn #edit_question_btn {
	margin-bottom: 30px;
}

#btn {
	background-color: #218594;
	color: #218594;
}

#btn:hover {
	opacity: 0.7;
}


/*
Color Palette Classic:
burlywood
#917959	darker tan
#9BAAAB	light blue-gray
#FFFFFF	white
#212121	off-black
#DEDEDE	off-white

Complimentary:
burlywood
#946221	rich brown
#87D2DE light blue
#218594	jewel-tone teal
#DEDEDE	off-white
#212121	off-black
*/

.footer {
	text-align: center;
	font-size: 18px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 64px;
	background-color: #f5e9db;
	line-height: 0;
}

.fuse {
	background-color: #6F5C43;
	height: 8px;
	margin-top: -4px;
	margin-bottom: 12px;
}

.footer .score {
	font-size: 32px;
	padding: 16px;
	font-family: 'Inconsolata', monospace;
}

.footer .timer {
	font-size: 32px;
	padding: 16px;
	font-family: 'Inconsolata', monospace;
}

.icon {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: burlywood;
	display: inline-block;
	height: 32px;
	margin-bottom: -8px;
}

.burlywood {
	background: url("./img/burlywood.svg") top left / cover;
	width: 130px;
	height: 32px;
}

.heart {
	background: url("./img/heart.svg") top left / cover;
	width: 32px;
	height: 32px;
}
